/* -- Header -- */

.navbar{
	margin-bottom: 0px;
}

/* -- CV corp -- */

.main{
	padding-top: 30px;
}

.seccion{
	padding-top: 50px;
}

h2{
	padding-bottom: 10px;
}

#me{
	margin-top: 20px;
	margin-bottom: 20px;
}

#me .thumb{
	width: 40%;
	margin-right: 10px;
}

#me .thumb img{
	width: 100%;
}

.nombre, .cita{
	text-align: center;
}

.descripcion{
	text-indent: 1.3em;
	text-align: justify;
}

th{
	text-align: center;
}

.idiomas, .conocimientos, .habilitaciones{
	text-indent: .5em;
}

/* -- Footer -- */

footer{
	background: #4d4d33;
	padding-top: 10px;
	margin-top: 20px;
}

footer .list-inline{
	text-align: center;
}

footer img{
	width: 32px;
}

/* -- Media Querie -- */

@media screen and (max-width: 768px){
	#me .thumb{
		width: 100%;
		margin-bottom: 20px;
	}
}