body{
    line-height: 1.45;
}

/*Estilos Menu*/
.menu{
    width: 100%;
    background: #FFFFFF;
    list-style: none;
    top: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    position: fixed;
    border-bottom: 1px solid #000000;
}

.menu li{
    display: inline-block;
}

.menu li a{
    padding: 10px 20px;
    display: inline-block;
    color: #000000;
    text-decoration: none;
}

.menu li a:hover{
    background: rgba(0, 0, 0, .1);
}

.menu ul{
    list-style: none;
}

/*Separador*/
hr{
    border-top: 1px solid #ccc;
    margin: .5rem 0;
}

/*Cuerpo del CV*/
#container{
    width: 80%;
    max-width: 980px;
    margin: 3rem auto 1rem;
    padding-top: .5rem;
}

/*Estilo de Cabecera*/
#me{
    background: url('../images/foto ignacio.jpg') left/15% auto no-repeat;
    padding-left: 18%;
    height: 132px;
}

/*Estilo General Tabla*/
.box{
    border-style: solid;
}

.box thead{
    background: #CECEF6;
    text-transform: uppercase;
}

#compers{
    padding-left: 2%;
}
table{
    border: 1px dotted #ccc;
    margin-bottom: 1rem;
    width: 100%;
}

table td,
table th{
    border: 1px dotted #ccc;
    padding: .25em
}

table td{
    text-align: center;
}