body{
    line-height: 1.5;
}

.menu{
    width: 100%;
    background: blue;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu li{
    display: inline-block;
}

.menu li a{
    padding: 10px 20px;
    display: inline-block;
    color:white;
}

.menu li a:hover{
    background:aqua;
    color: black;
}

.menu ul{
    list-style: none;
}

hr{
    border-top: 1px dotted #ccc;
    margin: .5rem 0;
}
img{
    float: left;
}
#me .desc{
    padding-left: 10%;
}
#compers{
    padding-left: 2%;
}
table{
    border: 1px dotted #ccc;
    margin-bottom: 1rem;
    width: 100%;
}

table td,
table th{
    border: 1px dotted #ccc;
    padding: .25em
}

table td{
    text-align: center;
}